:root {
    --black: rgba(0, 0, 0, 0.650);
    --shadow: 0 1px 5px var(--black);
}
*{
    margin: 0;
    padding: 0;
}
html{
    color:rgba(0, 0, 0, 0.650);
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
video {
    max-width: 100%;
}
img {
    max-width:100%;
}
h1 {
    font-size: 3rem;

}
h2 {
    font-size: 1.8rem;
}

.uppercase {
    text-transform: uppercase;
}
/* navigation */
.main-nav {
    position: fixed;
    width:100%;
    z-index: 50;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo sizer nav";
    align-items: center;
    background: white;
    border-bottom: 1px solid lightgray;
}
.logo {
    display: grid;
    padding-left: 1.5rem;
    align-items: center;
    grid-template-columns: auto auto auto;
    font-size: 32px;
}
.logo .b {
    color:gray;
}

.nav {
    padding: 1.5rem;
    grid-area: nav;
}
.nav ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
}
.nav li {
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 520;
}



/* wrapper */
.sizer {
    display: grid;
    justify-content: center;
}

.wrapper{
    position: relative;
    top:64px;
    display: grid;
    max-width: 75rem;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.showcase{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 1.5rem;
    align-items: center;
    padding:1.5rem;
    background: lightgray;
}
.showcase-content{
    display: grid;
    grid-gap: 2.5rem 1.5rem; 
    max-width: 25.6rem; 
}
.showcase-content p {
    font-size: 1.6rem;
    font-weight: 550;
}
.button {
    text-decoration: none;
    color:white;
    background: var(--black);
    padding: 0.6rem;
    text-align: center;
}

/* information */
.section-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    text-align: left;
}
.section-main {
    display: grid;
    justify-items: start; 
    padding:1.5rem; 
    border-right: 1px solid lightgray;
}
.main-content {
    display: grid;
    grid-gap: 20px;

}
.section-aside {
    display: grid;
    grid-gap: 3px;
}
.aside {
    grid-gap: 30px;
    padding:1.5rem;
    display: grid;
    grid-template-columns: 3fr 5fr;
}
.aside-content {
    display: grid;
    grid-gap: 15px;
    align-content: center;
}
.aside-content a {
    text-decoration: none;
    color: rgb(107, 189, 221);

}
.box1 {
   border-bottom: 1px solid lightgray; 
}
.box2 {
    border-bottom: 1px solid lightgray; 
    border-top: 1px solid lightgray; 
    
}
.box3 {
    border-top: 1px solid lightgray; 

}

/* tesis */
.courses-wrapper{
    display: grid;
    background:  lightgray;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top:2rem;
}
.courses-grid {
    text-align: left;
    display: grid;
    grid-gap: 2rem;
    padding: 2rem 3.8rem;
    /* max-width: 66rem; */
    grid-template-columns: auto auto auto;
}
.box {
    background: white;
    box-shadow: var(--shadow);
}
.box-content {
    display: grid;
    grid-gap: 8px;
    padding: 2rem;
}
/* tesis */
.tesis-wrapper {
    padding-top:2rem;

    display: grid;
    text-align: center;
}
.section-grid.tesis {
    padding-top: 0.5rem;
}
.section-aside.tesis {
    grid-template-rows: auto auto 1fr;
    justify-content: start;
}
.section-main.tesis {
    border: none;
    grid-gap: 24px;
}
/* footer */

footer {
    position: relative;
    top:64px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 1.5rem;
    border-top: 1px solid lightgray;
}
.footer-content {
    display: grid;
    grid-auto-flow: column;
    grid-column: 3 / 4;
}